#{extends 'template.html'/}
   
	<style>
	.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
.bloco {
    width: 90%;
}

#cart_items .cart_info .menu-conta {
    background: #eee;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.register-req, .heading {
    font-size: 20px;
    margin-bottom: 35px;
    padding: 0px 25px;
    font-family: 'Roboto', sans-serif;
}
	</style>

	
<section id="cart_items">
		<div class="container">
			<div class="row">
					
					#{include 'menuConta.html'/}
					
				<div class="col-sm-9 padding-right">
				 <div class="wrapper wrapper-content">
				<h2 class="heading">Aguardando Pagamento</h2>
			
      <div class="table-responsive cart_info ibox-content">
				<table class="table table-condensed">
					<thead>
						<tr class="menu-conta">
							<td class="image">Pedidos</td>
							
						
							<td class="quantity">Quantidade</td>
							<td class="total">Status</td>
								<td class="price">Preço</td>
							<td class="description">Data</td>
							<td class="total">Itens</td>
							<td class="total">Pagar</td>
							<td class="total">Cancelar</td>
							
						</tr>
					</thead>
					<tbody>
					#{paginate.list items:lista, as:'product'} 
						 
						<tr>
							
							
							<td class="cart_description">
								<h5><a href="@{Perfil.pagamento(product.ped_codigo)}">Ver Detalhes</a></h5>
								<p>Codigo: ${product?.ped_codigo}</p>
							</td>
						
							
						
							
							<td class="cart_quantity">
							<div class=" cart_quantity_button">
								
									<p  style="color: red;">${product?.ped_quantidade}</p>
								
							</div>
						</td>
							<td >
								<p >${product?.ped_status}</p>
							</td>
							<td class="cart_price">
								<h4 style="color: #e62e04;">R$ ${product?.ped_valor}</h4>
							</td>
							<td >
								 ${product?.ped_data}
							</td>
							<td>
								<center><a class="cart_quantity_delete" href="@{Perfil.itensPedidos(product.ped_codigo)}"><i class="fa fa-search"></i></a></center>
							</td>
							<td>
								<center><a class="cart_quantity_delete" href="@{Perfil.pagamento(product.ped_codigo)}"><i class="fa fa-paypal"></i></a></center>
							</td>
							<td class="select" data-toggle="modal" data-codigo="${product.ped_codigo}">  
								<center><a data-toggle="modal" data-codigo="${product.ped_codigo}" class="cart_quantity_delete" ><i class="fa fa-times"></i></a></center>
							</td>
							
						</tr>
						    #{/paginate.list} 
						 
					</tbody>
					
				</table>
				 #{paginate.controls items:lista /} 
			</div>
				</div><!--features_items-->
					
					<div class="category-tab"><!--category-tab-->
					 		
					</div><!--/category-tab-->
					
				
				</div>
			</div>
		</div>
	</section>

	<div id="modalConfirm" class="modal fade">

		<div class="modal-dialog">

			<div class="modal-content col-sm-10">
				<div class="modal-header">
					<a href="#" class="close">&times;</a>
					<h3>Cancelar Pedido</h3>
				</div>
				<div class="modal-body">
					<p>Ao cancelar o este pedido, o mesmo não poderá ser recuperado.</p>
					<p>Deseja confirmar esta operação?</p>
					<p id="debug-url"></p>
				</div>
				<div class="modal-footer">

					<form class="form-horizontal" role="form"
						action="@{Perfil.cancelar()}">
						<input type="hidden" id="ped_codigo" name="ped_codigo" />
						<button id="send" name="send" class="btn danger">Sim</button>
						<a href="#" data-dismiss="modal" class="btn secondary">Não</a>
					</form>
					

				</div>
			</div>
		</div>
	</div>
	
	
	
	
	<script type="text/javascript">
			
			$(document).ready(function(){
				   $(".select").click(function(){ 
				 	   
				     $("#ped_codigo").val($(this).data('codigo'));
				    
				     $('#modalConfirm').modal('show');
				   });
				});
			
</script>