#{extends 'template.html'/}
   
	<style>
	.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
#cart_items .cart_info .menu-conta {
    background: #eee;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.register-req, .heading {
    font-size: 20px;
    margin-bottom: 35px;
    padding: 0px 25px;
    font-family: 'Roboto', sans-serif;
}
	</style>

	
<section id="cart_items">
		<div class="container">
			<div class="row">
					
					#{include 'menuConta.html'/}
					
				<div class="col-sm-9 padding-right">
      <div class="table-responsive cart_info ibox-content">
				<table class="table table-condensed">
					<thead>
						<tr class="menu-conta">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="description"></td>
							<td class="price">Preço</td>
							<td class="quantity">Quantidade</td>
							<td class="total">Status</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						#{paginate.list items:lista, as:'product'} 
						<tr>
							<td>
								<a href=""><img src="${product?.car_caminho_ima}" width="80px" alt=""></a>
							</td>
							<td>
							</td>
							<td class="cart_description">
								<h4><a href="">${product?.car_titulo}</a></h4>
								<p>Referência: ${product?.car_referencia}</p>
							</td>
							<td class="cart_price">
								<p  style="color: red;">$ ${product?.car_preco}</p>
							</td>
							<td class="cart_quantity">
							<div class=" cart_quantity_button">
								
									<p  style="color: red;">${product?.car_quantidade}</p>
								
							</div>
						</td>
							<td class="cart_total">
								
    ${product?.car_status}
							</td>
							
						</tr>
						  #{/paginate.list} 
					</tbody>
				</table>
				 #{paginate.controls items:lista /} 
			</div>
				<!--features_items-->
					
					<div class="category-tab"><!--category-tab-->
					 		
					</div><!--/category-tab-->
					
				
				</div>
			</div>
		</div>
	</section>
