#{extends 'templateEntrega.html'/}

	<section>
		<div class="container">
			<div class="row">
					
			
				<div class="col-sm-12 padding-right">
				
				 <div class="wrapper wrapper-content">
					
					<div class="row">
     			 	<div class="ibox-content">
		<div class="ibox-title">
			<h3>Rotas abertas</h3> 
		</div>
     			 
     			 	<table class="table table-hover no-margins">
					<thead>
						<tr class="cart_menu">
						<td class="image"></td>
							<td class="image">Origem</td>
							
							<td class="price">Destino</td>
							<td class="quantity">Data Pedido</td>
							<td class="total">Data Limite Chegada</td>
							<td class="total">Frete</td>
							<td class="Usuario">Comprador</td>
							<td class="total">Detalhes</td>
							<td class="total">Candidatar-se</td>
						
						</tr>
					</thead>
					<tbody>
							#{paginate.list items:rotas, as:'product'} 
						<tr>
						
							<td class="cart_price">
								<form id="myForm">
								<input name="radioName" id="${product?.rot_codigo}"  value="${product?.rot_codigo}" type="checkbox">
								</form>
							</td>
							
							<td class="cart_description">
								<a ><p style="color: blue;">${product?.rot_cidade_origem}</p></a>
								
							</td>
						
							
						
							<td class="cart_price">
								<a ><p  style="color: red;"> ${product?.rot_cidade_destino}</p></a>
							</td>
							<td class="cart_quantity">
							<div class=" cart_quantity_button">
								
									<p > ${product?.rot_data_partida}</p>
								
							</div>
						</td>
							<td >
								<p id ="status">${product?.rot_data_chegada}</p>
							</td>
							<td >
								<p style="color: red;" id ="frete">R$ 3,00 </p>
							</td>
								<td >
						<p>${product?.rot_nome_completo}</p>
							</td>
							<td>
								<a class="cart_quantity_delete" href="@{Entregas.mostrarPedido(product.ped_codigo)}"><i class="fa fa-search"></i></a>
							</td>
							<td>
								<a data-toggle="modal" class="confirmar select cart_quantity_delete" ><i class="fa fa-search"></i></a>
							</td>
						</tr>
						    #{/paginate.list}
					</tbody>
				</table>
				 #{paginate.controls items:rotas /} 
</div>

     
				</div><!--features_items-->
					
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div id="modalDelete" class="modal fade">

		<div class="modal-dialog">

			<div class="modal-content col-sm-10">
				<div class="modal-header">
					<a href="#" class="close">&times;</a>
					<h3>Candidatar-se para Entrega</h3>
				</div>
				<div class="modal-body">
					<p>Ao cancelar o este titulo, o mesmo não poderá ser recuperado.</p>
					<p>Deseja confirmar esta operação?</p>
					<p id="debug-url"></p>
				</div>
				<div class="modal-footer">

					<form class="form-horizontal" role="form"
						action="@{Admin.cancelarTitulo()}">
						<input type="hidden" id="tit_codigo" name="titulo.tit_codigo" />
						<input type="submit" id="send" name="send" value="Sim" class="btn danger">
						<a href="#" data-dismiss="modal" class="btn secondary">Não</a>
					</form>
					

				</div>
			</div>
		</div>
	</div>


<script type="text/javascript">
			
			$(document).ready(function(){
				
				   $(".select").click(function(){ 
				 	   
				     $("#tit_codigo").val($(this).data('codigo'));
				    
				     $('#modalDelete').modal('show');
				   });
				   
				   $(".confirmar").click(function(){ 
				 	   
					     $("#titulo_codigo").val($(this).data('codigo'));
					     $("#ped_codigo").val($(this).data('ped_codigo'));
					     $('#modalConfirm').modal('show');
					   });
				   
				});
			
</script>
