<html>

<body>
<table width="600" align="center" cellspacing="0" cellpadding="0" style="background:#fff;border-radius:10px;border:1px solid #ddd;color:#000" bgcolor="#FFF">

            <tbody><tr>
              <td height="104">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:0 20px">
                  <tbody><tr>
                    <td>
                      <img src="http://findcontent.com.br/public/images/logo2.jpg" style="display:block" class="CToWUd">
                    </td>
                    <td align="right" style="color:#666;font-size:14px;padding-top:12px">
                      <p style="margin-right:10px">Veja como fechar mais serviços pelo FindContent</p>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>

           
            <tr>
              <td style="font-size:13px;line-height:1.5em;padding:0 0 20px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td>
                      <div style="color:#666;font-size:15px;line-height:22px;padding:0 30px;text-align:justify" align="justify">
                          <p>Bom dia,</p>
<p>Seu projeto recebeu uma nova proposta, por favor entre em nosso site e avalie o portfolio do redator.</p>
<p>Obrigado!</p>

<p>Se tiver alguma dúvida ou sugestão, entre em contato conosco pelo (85) 99686-5869 ou responda esse e-mail com a sua dúvida que a nossa equipe te responderá o mais rápido possível. E novamente, seja bem-vindo!</p>
                      </div>
                    </td>
                  </tr>
 <tr>
              <td>

			            <table border="0" cellspacing="0" cellpadding="10" width="100" align="right">
			  		                                          <tbody><tr>
			  		                                              <td align="center" valign="right" style="font-size:13px;font-family:Open Sans,Arial,sans-serif;background-color:#1ab394;border-radius:5px">
			  		                                                  <a href="http://findcontent.com.br" style="color:#ffffff;text-decoration:none" target="_blank">Ir para o site</a>
			  		                                              </td>
			  		                                          </tr>
                </tbody></table>
              </td>
            </tr>
            <tr>
              <td align="center" style="border-top-color:#e5e5e5;border-top-style:solid;border-top-width:2px;padding:20px">
                <ul style="list-style:none;margin:0;padding:0">
                  <li style="display:inline">
                    <a href="https://www.facebook.com/findcontent" style="display:inline-block" title="" target="_blank">
                      <img src="https://ci4.googleusercontent.com/proxy/yuCfibgsg1O2eOWREQp72TKSAoog9pYfuYtiFaV819DWgnJzNqQzivYNYzWc9P9rvKGW1O9Jj0zmX4BUB1gSFop63UnZ5KuZAwnwbxzXAZFGX8TC9R4=s0-d-e1-ft#http://emails-getninjas.s3.amazonaws.com/images/facebook_ico.jpg" alt="Facebook" style="display:block" class="CToWUd">
                    </a>
                  </li>

                  <li style="display:inline">
                    <a href="https://www.twitter.com/findcontentnews" style="display:inline-block" title="" target="_blank">
                      <img src="https://ci5.googleusercontent.com/proxy/L-iENFkqenXrIAf17OXEtHKCrjSarW_2rYxKZ0z-Vfbr4ncPGy8juQ_keaRgeVmRoFHxYr9alRHx0_2JCnMtcMeJincdAbhx-PLOte7qas_n7pa0qg=s0-d-e1-ft#http://emails-getninjas.s3.amazonaws.com/images/twitter_ico.jpg" alt="Twitter" style="display:block" class="CToWUd">
                    </a>
                  </li>

                </ul>
              </td>
            </tr>
          </tbody></table>
<p>


</body>
</html>