#{extends 'template.html'/}
<style>
.about-info {
    float: left;
    width: 60%;
    margin-left: 3em;
    margin-top: 30px;
}
.about-pic {
    float: left;
    width: 34%;
}
	.margin{
	margin-top: 40px;
	}
</style>
<div class="about">
	 <div class="container margin well">
	
	
		 <div class="about-sec">
			 <div class="about-pic"> <img width="85%"  src="@{'/public/images/loading_cart.gif'}" class="img-responsive" alt=""/></div>
				
				<div class="about-info"> <b>Encontre todos os itens que procura de forma rápida e prática, nosso site busca agrupar os mais variados produtos em um mesmo lugar, temos contato
				 com dezenas de produtores locais ou não e contamos com um inovador modelo logístico, que nos permite ter alta velocidade nas entregas com um baixo custo</b> 
				
				 <b>Somos um marketplace onde produtores de qualquer tipo de produto podem expor sua mercadoria. Milhares de produtos com o elhor valor.</b>
			
			</div>
			 
		 </div>
		
		 </div>
	 </div>


