
#{extends 'template.html'/}

<style>
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
     border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

    .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

</style>
 <div class="row">
                <div class="col-lg-10">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="ibox-title">
<h1>Pagamento efetuado com sucesso!! </h1>
   <div class="row">
            <div class="col-lg-9">
                <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">
                                      <div class="caption">
                                         <h2>PAGAMENTO EFETUADO</h2>
                                          <h3>Assim que comprovarmos o seu pagamento faremos o envio dos seus óculos To Be!.</h3>
                                         </div>
                                        <h2>Titulo</h2>
                                    </div>
                                    <dl class="dl-horizontal">
                                        <dt>Status:</dt> <dd><span class="label label-primary">Ativo</span></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <dl class="dl-horizontal">

                                        <dt>Criado por:</dt> <dd></dd>
                                        <dt>Mensagens:</dt> <dd>  0</dd>
                                        <dt>Categoria:</dt> <dd> </dd>
                                        
                                    </dl>
                                </div>
                               
                            </div>
                           
                               
                        </div>
                    </div>
                </div>
            </div></div>

<a href="@{Perfil.index()}" class="btn btn-lg btn-primary">Ir para minha conta</a>
<a href="@{Application.index()}" class="btn btn-lg btn-primary">Continuar Comprando</a>

</div></div></div></div>