	<div class="price-range"><!--price-range-->
						<form action='@{Application.index()}' id="preco">
							<div class="categories">
 <!--TMS:1849590-->
<div class="categories-main new-categories-main categories-main-home" data-role="category-content" data-spm="" data-widget-cid="widget-4">
 <div class="categories-content-title" data-role="exclude">
 <span>Faixa de Preço</span>
 </div>
</div></div>
							<div class="well text-center">
								 <input type="text" class="span2" name="preco" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[1,600]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
								 <input type="submit" class="btn btn-default get" value="Buscar faixa de preço"></input>
							</div>
							</form>
						</div><!--/price-range-->