<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Silver">
<meta name="author" content="">
<meta http-equiv="content-language" content="pt-br">
<meta name="keywords" content="Silver" />
<meta name="viewport" content="width=device-width,initial-scale=1">

<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
	media="screen" rel="stylesheet">

<link href="@{'/public/stylesheets/main.css'}" media="all"
	rel="stylesheet">
<link href="@{'/public/stylesheets/responsive.css'}" media="all"
	rel="stylesheet">

<link href="@{'/public/stylesheets/prettyPhoto.css'}" media="all"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
 <header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> 85 34641020</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> contato@tobesunglasses.com.br</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://www.facebook.com/tobesunglasses"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://instagram.com/tobesunglasses/"><i class="fa fa-instagram"></i></a></li>
	
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		
	
	</header><!--/header-->
  
  <img width="100%" height="100%"  src="@{'/public/images/background@imagem_modelo.jpg'}" alt="" />
 
               
            
            <footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-12">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a target="blank" href="https://www.youtube.com/watch?v=BEPNCmrHabQ">
									<div class="iframe-img">
										<img src="@{'/public/images/comercialSeducao.png'}" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Seduction - Deseje. Deseje muito. Deseje To Be!¡</p>
								
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a target="blank" href="https://www.youtube.com/watch?v=eN3n-RHY_oI">
									<div class="iframe-img">
										<img src="@{'/public/images/banner33.png'}" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Desfile de lançamento To Be!¡ em Fortaleza. Confira!</p>
								
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a target="blank" href="https://www.youtube.com/watch?v=gQPrWcOHKQY">
									<div class="iframe-img">
										<img src="@{'/public/images/toYou.png'}" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>To Be!¡ To You</p>
								
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a target="blank" href="https://www.youtube.com/watch?v=4aoU1emQsZc">
									<div class="iframe-img">
											<img src="@{'/public/images/makingOf.png'}" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Making of To Be!¡ To Kids</p>
								
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Serviços</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Contato</a></li>
								<li><a href="#">FAQ’s</a></li>
							</ul>
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Midias Sociais</h2>
							<ul class="nav nav-pills nav-stacked">
							
								<li><a href="https://www.facebook.com/tobesunglasses">Facebook  - <i class="fa fa-facebook"></i></a></li>
								<li><a href="https://instagram.com/tobesunglasses/">Instagram - <i class="fa fa-instagram"></i></a></li>
	
							
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-widget">
							<h2>Sobre</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="@{Sobre.mapa()}">Lojas</a></li>
								<li><a href="@{Sobre.sobre()}">Marca</a></li>
							</ul>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2015 To Be! </p>
					<p class="pull-right">Designed by <span><a target="_blank" href="">To Be!</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
 </body>
 </html>