<style>
.col {
	padding-top: 40px;
	font-size: 75%;
	color: rgb(0, 0, 0);
	line-height: 1.3;
}
.col h4 {
	margin-bottom: 0;
	color: #999;
	padding-left: 1%;
	font-size: 12px;
}
.site-server-box .col h2 {
	font-size: 16px;
	line-height: 18px;
	padding: 0 5px 6px;
}
h1 {
	font-size: 12px;
}
#artiststhumbnail img {
	display: block;
	margin: auto;
}
</style>
<footer id="footer"><!--Footer-->
<div class="footer-top">
<div class="container">
<div class="site-server-box" data-spm="29">
<div class="container">
<div class="col-sm-2 col">
 <i class="fa fa-money fa-4x"></i>
 <h2>Preços Incríveis</h2>
 <h4>Os melhores preços em uma variedade de produtos que cresce a cada dia .</h4>
</div>
<div class="col-sm-2 col">
 <i class="fa fa-truck fa-4x"></i>
 <h2>Entregas para todo o País</h2>
 <h4>Graças a nossos parceiros de logistica, atendemos todo o País com agilidade e segurança.</h4>
</div>
<div class="col-sm-2 col">
<i class="fa fa-credit-card fa-4x"></i>
<h2>Pagamentos Seguros</h2>
<h4>Pague com os métodos mais confiáveis do mundo.</h4>
</div>
<div class="col-sm-2 col">
<i class="fa fa-shield fa-4x"></i>
<h2>Compre com Confiança</h2>
<h4>Nossa Proteção ao Consumidor protege a sua compra do clique à entrega.</h4>
</div>
<div class="col-sm-2 col">
<i class="fa fa-users fa-4x"></i>
<h2>Atendimento 24h</h2>
<h4>Atendimento 24h, todos os dias para facilitar as suas compras.</h4>
</div>
<div class="col-sm-2 col">
<i class="fa fa-clock-o fa-4x"></i>
<h2>Compre a Qualquer Hora e Lugar</h2>
<h4><a href="" rel="nofollow">Baixe o Aplicativo</a> e tenha o mundo VendasExpress na palma da sua mão.</h4>
</div>
</div>
</div>
 <div id="artiststhumbnail">
<img alt="credcard pagamento"  height="50%" width="40%" src="@{'/public/images/creditcard-logos-trans.png'}"></div>
			</div>
		</div>

	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="single-widget">
						<h2>Serviços</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Contato</a></li>
							<li><a href="#">FAQ’s</a></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="single-widget">
						<h2>Midias Sociais</h2>
						<ul class="nav nav-pills nav-stacked">

							<li><a target="blank"
								href="https://www.facebook.com/comprasdovalenews">Facebook -
									<i class="fa fa-facebook"></i>
							</a></li>
							<li><a target="blank"
								href="https://instagram.com/comprasdovale">Instagram - <i
									class="fa fa-instagram"></i></a></li>


						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="single-widget">
						<h2>Sobre</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="@{Sobre.mapa()}">Parceiros</a></li>
							<li><a href="@{Sobre.sobre()}">Sobre</a></li>
						</ul>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="single-widget">
						<h2>Parceiros</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="@{Sobre.mapa()}">Quero Expor Meus Produtos</a></li>
							<li><a href="@{Sobre.sobre()}">Quero Vender Produtos do
									Site</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<h1 class="pull-left">
					<p>Compras do vale, encontre tudo o que procura sem sair de
						casa!</p>
				</h1>
				<p class="pull-right">
					Designed by <span><a target="_blank" href="">Nós!</a></span>
				</p>
			</div>
		</div>
	</div>

</footer><!--/Footer-->
	