<style>
.col-sm-3.branco {
    margin-top: 2%;
    padding-right: 3%;
}
</style>
<div class="col-sm-3 branco">
						
<div class="categories-main new-categories-main categories-main-home">
 <div class="categories-content-title">
 <a href="@{Perfil.index()}"><i class="fa fa-home fa-fw"></i>&nbsp;Principal</a>
 </div>
</div>
 <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse category-products panel-default">
            <ul class="nav metismenu" id="side-menu">
						 <li>
 <a  href="@{Perfil.pedidos()}"><i class="fa fa-bars fa-fw"></i>&nbsp;Todos os Pedidos</a>
                 </li>

 <li>
 <a  href="@{Perfil.aguardandoPagamento()}"><i class="fa fa-credit-card fa-fw"></i>&nbsp;Esperando Pagamento </a>
               </li>
			
			<li>
  <a  href="@{Perfil.aguardandoEnvio()}"><i class="fa fa-clock-o fa-fw"></i>&nbsp;Esperando Envio </a>
                </li>
				
			<li>
  <a  href="@{Perfil.enviados()}"><i class="fa fa-truck fa-fw"></i>&nbsp;Enviados</a>
                  </li>
			
			<li>
 <a  href="@{Perfil.concluidos()}"><i class="fa fa-check-square-o fa-fw"></i>&nbsp;Finalizados</a>
                </li>
							<li>
							
 

		</ul></div></nav>			
						
				</div>