<!doctype html>
<html lang="pt" xml:lang="pt">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Compre online ou com nossos parceiros, óculos, eletrônicos, moda feminina, roupas, Automotivo,produtos para beleza, moda masculina e tudo com os melhores preços">
<meta name="title"
	content="Compras do Vale - Econtre tudo em moda feminina, masculina e eletronicos sem sair de casa">
<meta name="author" content="">
<meta http-equiv="content-language" content="pt-br">
<meta name="keywords"
	content="sem sair de casa,compras, ecommerce, vale, feminina,Compras do Vale, Encontre,  Automotivo, Telefones, Acessórios, Computadores, Eletrônicos,
 Moda, Beleza, Saúde, Casa, Jardim, " />
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta property="og:title"
	content="Encontre tudo o que procura, sem sair de casa!" />
<meta property="og:description" content="Compre acessórios, moda feminina, produtos para beleza e mais!" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:url" content="https://www.comprasdovale.com.br" />
<title>Compre acessórios, moda feminina, produtos para beleza e
	mais!</title>
<link rel="canonical" href="http://comprasdovale.com.br" />
<link rel="publisher"
	href="https://plus.google.com/u/2/102630365333157732957">
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/logomin.png'}" />
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
	media="screen" rel="stylesheet">
<link href="@{'/public/stylesheets/main.css'}" media="all"
	rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75841061-1', 'auto');
  ga('require', 'ecommerce');
  ga('send', 'pageview');

</script>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
</head>

<body>
	#{include 'top.html'/} #{doLayout /} #{include 'footer.html'/}


	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?3jlQUn0JlcjbjOuUTMrKUjVdcxtRlVx6";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
	<!--End of Zopim Live Chat Script-->

	<noscript>Seu navegador não suporta JavaScript!</noscript>
</body>

<link href="@{'/public/stylesheets/slider.css'}" media="all"
	rel="stylesheet">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="@{'/public/javascripts/menu-vertical.js'}"></script>


</html>